body {
    background-color: lightpink;
    color: black;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
.rainbow {
    display: inline-block;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.black-bg {
    background-color: black;
    color: white
}
.gay {
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}